:host(.grpc-debug-panel) {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  border-top: 1px solid #ccc;
  z-index: 999;
  overflow: auto;
}

.grpc-debug-table {
  width: 100%;
}

.selected-cell {

  background-color: rgba(0, 0, 0, 0.1);

}



.dark-theme .selected-cell {

  background-color: rgba(255, 255, 255, 0.1);

}



.mat-cell, .mat-header-cell {

  padding: 0 16px;

}

.timestamp-text {
  font-size: 0.75em;
  opacity: 0.7;
}

