<div class="overview-container">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Overview</span>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
      Sidenav content
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content">
        <!-- Page content goes here -->
        <h1>Welcome to the overview page!</h1>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
